<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{title}} - Vangboek</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  <link href="/js/vendor/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/community.css" type="text/css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width">
</head>
<body>

  {{> menu}}

  <ul data-role="template" data-suggest="users" class="suggest" style="display:none">
  {{#each users}}
    <li class="suggest-user" data-id="{{_id}}" data-tags="{{#each tags}}{{this}};{{/each}}">
      <!--<img class="member-gravatar" src="{{gravatar profile}}" />-->
      {{name profile}}
    </li>
  {{/each}}
  </ul>

  {{{body}}}
  
	{{#each scripts}}
	  <script src="{{this}}"></script>
	{{/each}}
</body>
</html>