<!--<div class="container-fluid">
  <div class="row stat-bar nav-bar navbar-default">
    <div class="stat-tile col-md-3 col-xs-6"><span>€ 100,-</span><span>Saldo</span></div>
    <div class="stat-tile col-md-3 col-xs-6"><span>0</span><span>Declaraties</span></div>
    <div class="stat-tile col-md-3 col-xs-6"><span>2</span><span>Bonnen deze maand</span></div>
    <div class="stat-tile col-md-3 col-xs-6"><span>€ 100,-</span><span>Prognose</span></div>
  </div>
</div>-->
<div class="container">
  <div class="row">
    <div class="col-md-9">
        <h2>{{t 'Accounts overview'}}</h2>
        <div class="table-wrap">
            <table class="table table-striped table-hover table-bordered">
                <thead><tr>
                  <th>{{t 'Date'}}</th>
                  <th>{{t 'What'}}</th>
                  {{#each accounts}}
                  <th class='euro-col'>&Delta; {{this.name}}</th>
                  {{/each}}
                  {{#each accounts}}
                  <th class='euro-col'>{{this.name}}</th>
                  {{/each}}
                </tr></thead>
                {{#each bills}}
                <tr>
                  <td>{{datef date 'll'}}</td>
                  <td><a href="/bills/{{_id}}">{{this.title}}</a></td>
                  {{#each ../accounts}}
                  <td class='euro' value="{{currency (changeFor .. _id)}}">{{currency (changeFor .. _id)}}</td>
                  {{/each}}
                  {{#each ../accounts}}
                  <td class='euro' value="">...</td>{{/each}}
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <div class="col-md-3">
      <h2>{{t 'Accounts'}}</h2>
        <div class="table-wrap">
            <table class="table table-striped table-hover">
                <thead><tr>
                  <th>{{t 'Account'}}</th>
                  <th class='euro-col'>{{t 'Balance'}}</th>
                </tr></thead>
                {{#each accounts}}
                <tr>
                  <td><a href="/accounts/{{_id}}">{{this.name}}</a></td>
                  <td class='euro' value="{{currency saldo}}">{{currency saldo}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
  </div>
</div>