
{{#with bill}}
<form role="form" method="post" action="/bills/{{#if _id}}{{_id}}{{/if}}">
<div class="container">
  <div class="row">
  	<div class="col-md-3">
      <h2 style="margin-bottom: .5cm">
        {{#if _id}}Edit bill{{else}}Create bill{{/if}}
        <button type="submit" class="btn btn-xs btn-default">{{t 'Save'}}</button>
        {{#if _id}}
        <input type="hidden" name="_id" value="{{_id}}" /> 
        <a data-action='remove' class="btn btn-xs btn-danger">{{t 'Delete'}}</a>
        {{else}}
        <a href='javascript:history.back()' class="btn btn-danger btn-xs">{{t 'Cancel'}}</a>
        {{/if}}
      </h2>
  	  <div class="form-group">
        <label for="date">{{t 'Name'}}</label>
        <input name="title" id="title" class="form-control" value="{{title}}" placeholder="{{t 'Bill name'}}" required />
      </div>
      <div class="form-group">
        <label for="date">{{t 'Activity Date'}}</label>
        <input name="date" type="date" class="form-control" id="date" placeholder="{{t 'Activity Date'}}" value="{{datef date 'YYYY-MM-DD'}}" />
      </div>
      <div class="form-group">
        <label for="date">{{t 'Pay Date'}}</label>
        <input name="paydate" type="date" class="form-control" id="paydate" placeholder="{{t 'Pay Date'}}" value="{{#if paydate}}{{datef paydate 'YYYY-MM-DD'}}{{/if}}" />
      </div>
      <div class="form-group">
        <label for="note">{{t 'Note'}}</label>
        <textarea id="note" class="form-control" name="note" rows="3">{{note}}</textarea>
      </div>
      <div class="form-group">
        <label for="type">{{t 'Type'}}</label>
        <select name="type" class="form-control">
          {{#each ../billTypes}}
            <option value="{{this}}" {{#isEqual this to=../type}}selected{{/isEqual}}>{{t this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <!-- Bill editor -->
    <div class="col-md-9" style="padding-top: 0.5cm">

      {{#each ../users}}
      <input data-type="change" type="hidden" name="changes[{{_id}}]" value="{{lookup ../changes _id}}" />
      {{/each}}
      {{#each ../accounts}}
      <input data-type="cost" type="hidden" name="balances[{{_id}}]" value="{{lookup ../balances _id}}" />
      {{/each}}

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="disabled"><a>{{t 'Choose Entry'}}:</a></li>
        {{#each ../billTypes}}
          {{#isEqual this to='standard'}}
          {{else}}
          <!--
          {{/isEqual}}

          <li {{#isEqual this to=../type}}class="active"{{/isEqual}}>
            <a href="#{{this}}" role="tab" data-toggle="tab">{{t this}}</a>
          </li>

          {{#isEqual this to='standard'}}
          {{else}}
          -->
          {{/isEqual}}
        {{/each}}
      </ul>
      <!-- Tab panes -->
      <div class="tab-content" id="bill-type-tabs">
        <div class="tab-pane active {{#isEqual type to='standard'}}{{!active}}{{/isEqual}}" id="standard">
          {{#with ..}}{{>bill-standard-entry}}{{/with}}
        </div>
        <!--<div class="tab-pane active {{#isEqual type to='deposit'}}active{{/isEqual}}" id="deposit">
          {{#with ..}}{{>bill-deposit-entry}}{{/with}}
        </div>
        <div class="tab-pane {{#isEqual type to='activity'}}active{{/isEqual}}" id="activity">
          {{#with ..}}{{>bill-activity-entry}}{{/with}}
        </div>-->
      </div>

      <hr />

      <!--<ul class='accounts'>
      Difficiency coming from account:
      {{#each ../accounts}}
        <li class='money-entry'>
          Account - {{name}}
          <input type="number" step="0.01" name="account[{{name}}]" value="" />
      Difficiency comes from account:
      {{#each ../accounts}}
        <li class='money-entry'>
          Account - {{this.name}}
          <input type="number" step="0.01" name="balances[{{_id}}]" value="{{changeFor .. _id}}" />
        </li>
      {{/each}}

      Changes per user:
      {{#each ../users}}
        <li class='money-entry'>
          User - {{name profile}}
          <input type="number" step="0.01" name="changes[{{_id}}]" value="{{changeFor .. _id}}" />
        </li>
      {{/each}}
      </ul>-->
    </div>
  </div>
</div>
</form>
{{/with}}