
{{#with show_user}}
<form role="form" method="post" action="/users/{{#if _id}}{{_id}}{{/if}}">
<div class="container">
  <div class="row">
  	<div class="col-md-3">
  		<h2 style="margin-bottom: .5cm">
      {{#if _id}}
        {{t 'Edit user'}}
        {{#isRole 'admin' ../../user}}
        <a data-action='remove' onclick="return confirm('{{t 'Are you sure?'}}')" href="/users/{{_id}}/delete" class="btn btn-xs btn-danger">{{t 'Delete'}}</a>
        {{/isRole}}
      {{else}}
        {{t 'Create user'}}
        <a href='javascript:history.back()' class="btn btn-danger btn-xs">{{t 'Cancel'}}</a>
      {{/if}}
      </h2>
  	  <input type="hidden" name="id" value="{{_id}}" />
      
      {{#isEqual type to='fund'}}
      {{else}}
        <div class="form-group">
          <label for="givenName">{{t 'Given name'}}</label>
          <input name="profile[name][givenName]" id="givenName" class="form-control" placeholder="{{t 'Given name'}}" value="{{profile.name.givenName}}"  required />
        </div>
        <div class="form-group">
          <label for="familyName">{{t 'Family name'}}</label>
          <input name="profile[name][familyName]" id="familyName" class="form-control" placeholder="{{t 'Family name'}}" value="{{profile.name.familyName}}" required />
        </div>
        {{/isEqual}}
        <div class="form-group">
          <label for="displayName">{{#isEqual type to='fund'}}{{t 'Fund name'}}{{else}}{{t 'Display name'}}{{/isEqual}}</label>
          <input name="profile[displayName]" id="displayName" class="form-control" placeholder="{{t 'Display name'}}" value="{{profile.displayName}}" />
        </div>
        <div class="form-group">
          <label for="email_0">{{t 'Emails'}}</label>
          {{#each profile.emails}}
          <input id="email_{{@index}}" class="form-control" name="profile[emails][{{@index}}][value]" placeholder="{{t 'user@example.org'}}" value="{{this.value}}" />
          {{/each}}
          <input id="email_new" class="form-control" name="profile[emails][{{profile.emails.length}}][value]" placeholder="{{t 'Add emailaddress'}}" />
        
        </div>
        <div class="form-group">
          <label for="tag_0">{{t 'Tags'}}</label>
          {{#each tags}}
          <input id="tag_{{@index}}" style="margin-bottom: 4px" class="form-control" name="tags[{{@index}}]" value="{{this}}" />
          {{/each}}
          <input id="tag_{{@index}}" class="form-control" name="tags[{{@index}}]" placeholder="{{t 'Add tag (year, group, committee)'}}" />
        </div>
        <div class="form-group">
          <label for="type">{{t 'Type'}}</label>
          <select name="type" class="form-control">
          	{{#each ../userTypes}}
    		      <option value="{{this}}" {{#isEqual this to=../type}}selected{{/isEqual}}>{{t this}}</option>
    		    {{/each}}
  	      </select>
        </div>
        <button type="submit" class="btn btn-default">{{t 'Save'}}</button>
        {{#if _id}}{{else}}
        <a href='javascript:history.back()' class="btn btn-danger pull-right">{{t 'Cancel'}}</a>
        {{/if}}
    </div>
    <div class="col-md-9">
      {{#with ..}}
        {{> bills}}
      {{/with}}
    </div>
  </div>
</div>
</form>
{{/with}}